<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Block access to hidden files and sensitive directories
    RewriteRule ^\.env - [F,L,NC]
    RewriteRule ^\.git - [F,L,NC]
    RewriteRule ^(storage|bootstrap/cache)/.*$ - [F,L,NC]
    
    # Redirect all requests to public/ folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
